<launch>
  <!-- Include a second robot?-->
  <arg name="two_robots" value="true"/>

<!-- Launch Simulation including robot models-->
  <include file="$(find uol_cmp9767m_base)/launch/thorvald-sim.launch">
    <arg name="obstacles" default="false" />
    <arg name="second_robot" value="$(arg two_robots)" />
    <arg name="fake_localisation" default= "false"/>
    <arg name="map_server" default= "true"/>
  </include>

  <!-- Launch robot behaviour for each robot seperately -->
  <include file="$(find rp_pack)/launch/single_robot.launch">
    <arg name="rob_id" value="thorvald_001" />
    <arg name="role" value="explorer" />
    <arg name="initial_x" value="5.0"/>
  </include>
  <include file="$(find rp_pack)/launch/single_robot.launch" if="$(arg two_robots)">
    <arg name="rob_id" value="thorvald_002" />
    <arg name="role" value="sprayer" />
    <arg name="initial_x" value="-5.0"/>
  </include>

  <!-- Launch rviz visualisation -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rp_pack)/rviz/rp_config.rviz"/>
</launch>
