<launch>
  <!-- Arguments -->
  <arg name="rob_id" default="thorvald_001"/>
  <arg name="role" default="explorer"/>
  <arg name="initial_x" default="5.0"/>

    <!-- Localisation (amcl) -->
    <include file="$(find uol_cmp9767m_tutorial)/launch/amcl.launch">
      <arg name="robot_name" value="$(arg rob_id)"/>
      <arg name="pose_x" value="$(arg initial_x)"/>
    </include>
    <!-- Navigation Stack (move_base)-->
    <include file="$(find uol_cmp9767m_tutorial)/launch/move_base.launch">
      <arg name="robot_name" value="$(arg rob_id)"/>
    </include>

    <!-- Weeding nodes that run on all robots, regardless of their role -->
    <group ns="$(arg rob_id)">
      <node pkg="rp_pack" type="plant_discrimination.py" name="plant_discriminator" args="$(arg rob_id)"/>
      <node pkg="rp_pack" type="camera_geometry.py" name="camera_converter" args="$(arg rob_id)"/>
    </group>

    <!-- Seperate weeding nodes, dependent on the role  -->
    <group if="$(eval role == 'explorer')">
      <!-- Exploration (coverage path planner, taken from heatmap package) -->
      <include file="$(find rp_pack)/launch/exploration.launch">
        <arg name="robot_name" value="$(arg rob_id)"/>
      </include>
      <node pkg="rp_pack" type="explorer.py" name="explorer_robot" args="$(arg rob_id)"/>
    </group>

    <group if="$(eval role == 'sprayer')">
      <node pkg="rp_pack" type="sprayer.py" name="$(arg rob_id)/sprayer_robot" args="$(arg rob_id)"  output="screen"/>
    </group>

</launch>
