<?xml version="1.0"?>

<launch>

	<arg name="robot_name" default="thorvald_001"/>

	<!-- move_base -->
	<group ns="$(arg robot_name)">
		<node name="move_base" pkg="move_base" type="move_base" output="screen">
	        <remap from="odom" to="odometry/base_raw" />
	        <remap from="cmd_vel" to="nav_vel" />
					<remap from="tf" to="/tf"/>
					<remap from="map" to="/map"/>

	        <rosparam file="$(find uol_cmp9767m_tutorial)/config/$(arg robot_name)_costmap_common_params.yaml" command="load" ns="global_costmap"/>
	        <rosparam file="$(find uol_cmp9767m_tutorial)/config/$(arg robot_name)_costmap_common_params.yaml" command="load" ns="local_costmap"/>

	        <rosparam file="$(find uol_cmp9767m_tutorial)/config/global_costmap_params.yaml" command="load"/>
	        <rosparam file="$(find uol_cmp9767m_tutorial)/config/local_costmap_params.yaml" command="load"/>

	        <rosparam file="$(find uol_cmp9767m_tutorial)/config/planners.yaml" command="load"/>

		</node>
	</group>
</launch>
